{% extends 'base.html.twig' %}

{% block title %}New Ronda{% endblock %}

{% block body %}
    <h1>Create new Ronda</h1>

    {{ include('ronda/_form.html.twig') }}

    <a href="{{ path('ronda_index') }}">back to list</a>
{% endblock %}
